.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}

.bottomMargin {
  margin-bottom: 32px;
}

.memberImage,
.image {
  width: 100%;
}

.memberCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.memberGender {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #e0f2fe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.memberName {
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}
