loguru
dependency-injector
fastapi
uvicorn
pyyaml
sqlalchemy
pytest
requests
pytest-cov
psycopg2
httpx
python-multipart
minio
pydantic[email]
alembic
jose
python-jose
passlib==1.7.4
bcrypt==3.2.0
minio
strawberry-graphql
pymongo
cryptography
