.headerContainer {
  position: absolute;
  top: 148px;
  z-index: 120;

  width: 100%;
  height: auto;
  transform-origin: 50% 43%;
  transform: translate3D(0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.logoImage {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  width: 150px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 16px;
}
