.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 100vh;
  overflow-y: scroll;
  padding: 0px 16px;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
