.container {
  padding-bottom: 100px;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  height: 42px;
  padding: 0 35px;
  border: 1.5px solid #111;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 20px 20px;
  font-family: HurmeGeometricSans3, NotoSansCJKkr, Roboto, Droid Sans,
    Malgun Gothic, Helvetica, Apple-Gothic, 애플고딕, Tahoma, dotum, 돋움, gulim,
    굴림, sans-serif;
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.autoScrollGallery {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.galleryTrack {
  display: flex;
  animation: scrollAnimation 20s linear infinite;
}

.galleryTrackFast {
  composes: galleryTrack;
  animation-duration: 21s;
}

.galleryTrackMedium {
  composes: galleryTrack;
  animation-duration: 18s;
}

.galleryTrackSlow {
  composes: galleryTrack;
  animation-duration: 15s;
}

.galleryItem {
  width: 200px;
  height: 150px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 16px;
}
