/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/(afterLogin)/_components/Navigation/Navigation.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.Navigation_container___tO5u {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #e5e7eb;
}

.Navigation_bottomNavContainer__gRyjX {
  display: flex;
  justify-content: space-around;
  height: 4rem;
}

.Navigation_navItem__6h2Pd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: #9ca3af; /* 비활성 색상 */
}

.Navigation_active__NI82v {
  color: #3b82f6; /* 활성 색상 */
}

.Navigation_navIcon__MF5EL {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.Navigation_navText__3nbIa {
  font-size: 0.75rem;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 0 auto;

  width: 100vw;
  max-width: 430px;
  background-color: rgb(236, 238, 239);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/(afterLogin)/layout.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.layout_layout__choN6 {
  max-width: 430px;
  background-color: #fff;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 76px 0px 80px 0px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!../../packages/ui/src/components/Header/Header.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_fixedHeaderContainer__XKYZh {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* 헤더 높이 */
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.Header_headerContent__be2uv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Header_backButton___9EZV {
  background: none;
  border: none;
  cursor: pointer;
  color: #2d3748;
}

.Header_refreshButton__QjJFc {
  background: none;
  border: none;
  cursor: pointer;
  color: #2d3748;
}

.Header_title__f1h01 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.Header_placeholder__RVZqL {
  width: 24px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!../../packages/ui/src/components/Modal/SystemModal.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes SystemModal_fadeIn__ro4Wf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SystemModal_modalOverlay__zpQUd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: SystemModal_fadeIn__ro4Wf 0.3s ease-out;
  z-index: 1000;
}

.SystemModal_modalContainer__l88K4 {
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: SystemModal_fadeIn__ro4Wf 0.3s ease-out;
}

.SystemModal_title__aWCZ4 {
  white-space: pre-line;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.SystemModal_message__rjDrb {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  white-space: pre-line;
}

.SystemModal_buttonGroup__khbvW {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.SystemModal_button__bPb_3 {
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SystemModal_cancel__3KiDP {
  background: #ccc;
}

.SystemModal_confirm__x_PwS {
  background: #333;
}

.SystemModal_button__bPb_3:hover {
  opacity: 0.8;
}

